on:
  release:
    types: [published]
  pull_request:
    branches: "**"
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

name: my-workflow
jobs:
  unit-tests:
    name: Code Quality Checks(lint, test, tsc)
    runs-on: ubuntu-latest
    steps:
      # ...
      - uses: actions/checkout@v4
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run build
      - run: bun lint
      - run: bun tsc --noEmit
      - uses: supercharge/mongodb-github-action@1.12.0
      - run: RUN_MONGO_TESTS=1 bun test packages/federation-sdk/src/services/state.service.spec.ts packages/federation-sdk/src/services/room.service.spec.ts
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - run: bun test:coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
