on:
  release:
    types: [published]

name: Release
jobs:
  release:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # check if tagged version matches federation-sdk version
      - name: Check version
        run: |
          TAG_VERSION="${{ github.event.release.tag_name }}"
          SDK_VERSION=$(jq -r '.version' packages/federation-sdk/package.json)
          if [ "$TAG_VERSION" != "$SDK_VERSION" ]; then
            echo "Tag version ($TAG_VERSION) does not match federation-sdk version ($SDK_VERSION)"
            exit 1
          fi

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: oven-sh/setup-bun@v2

      - run: bun install

      - run: bun run lint

      - run: bun run build

      - run: bun run test

      - run: bun run bundle:sdk

      - name: Publish to NPM
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_CONFIG_TOKEN }}
        run: |
          cd ./federation-bundle
          bun publish --access public
